.texto, .proyectos .Fila .columna p, .proyectos .Fila .columna div p a, .aboutme section div p {
  color: white;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes AnimacionEntrada {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
body {
  padding: 0;
  margin: 0;
  background: radial-gradient(circle, purple, rgb(75, 39, 160));
}
body header {
  background: linear-gradient(90deg, purple, rgb(75, 39, 160));
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: 100%;
  animation: AnimacionEntrada 0.6s ease-out 0s none;
}
body header div {
  width: 100%;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
}
body header div h1 {
  font-size: 40px;
  margin: 0 0 10 0;
}
body header div p {
  margin: 0 0 10 0;
  font-size: 20px;
}
body header nav {
  background: linear-gradient(90deg, purple, rgb(60, 32, 126));
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 100%;
  height: 100%;
}
body header nav ul {
  margin-left: 2%;
  padding: 0;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  body header nav ul {
    margin: 0;
  }
}
body header nav ul li {
  list-style: none;
  padding: 10px;
  margin-left: 1%;
}
body header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}
@media (max-width: 768px) {
  body header nav ul li {
    margin: 0;
    padding: 10 5 10 5;
  }
}
body header nav ul li .Pagina-Activa {
  color: white;
}

.aboutme {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.aboutme section {
  animation: AnimacionEntrada 0.8s ease-out 0s none;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 768px) {
  .aboutme section {
    grid-template-columns: 1fr;
  }
}
.aboutme section div {
  width: 2fr;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .aboutme section div {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
}
.aboutme section div img {
  border-radius: 10px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .aboutme section div img {
    width: 100%;
  }
}
.aboutme section div p {
  font-size: 20px;
  color: white;
  text-align: left;
  margin: 0;
  animation: AnimacionEntrada 1.2s ease-out 0s none;
}
@media (max-width: 768px) {
  .aboutme section div p {
    padding: 5%;
    width: 80%;
    text-align: center;
  }
}
.aboutme section .fotomia {
  width: 1fr;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  animation: AnimacionEntrada 1.2s ease-out 0s none;
}

.Educacion {
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 100%;
  animation: AnimacionEntrada 0.8s ease-out 0s none;
}
.Educacion .educaciontxt {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  padding-bottom: 5%;
}
.Educacion .Fila {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.Educacion .Fila .columna {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Educacion .Fila .columna img {
  max-width: 80%;
  min-width: 80%;
  padding: 5%;
}

footer {
  display: flex;
  background: linear-gradient(180deg, purple, rgb(75, 39, 160));
}
footer div p {
  color: white;
}

.proyectos {
  margin-bottom: 10%;
}
@media (max-width: 768px) {
  .proyectos {
    width: 100%;
  }
}
.proyectos .Fila {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .proyectos .Fila {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
.proyectos .Fila #Proyecto1 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 0s forwards;
}
.proyectos .Fila #Proyecto2 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 0.8s forwards;
}
.proyectos .Fila #Proyecto3 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 1.4s forwards;
}
.proyectos .Fila #Proyecto4 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 2s forwards;
}
.proyectos .Fila #Proyecto5 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 2.6s forwards;
}
.proyectos .Fila #Proyecto6 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 3.2s forwards;
}
.proyectos .Fila .columna {
  justify-items: center;
  align-items: center;
}
.proyectos .Fila .columna div {
  display: flex;
  justify-content: center;
  position: relative;
}
.proyectos .Fila .columna div img {
  width: 80%;
  display: block;
}
.proyectos .Fila .columna div p {
  display: block;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.775);
  z-index: 1000;
  position: absolute;
  font-size: x-small;
  width: 80%;
  bottom: 0%;
  height: 40%;
  text-align: center;
}
.proyectos .Fila .columna div p a {
  text-decoration: none;
  position: absolute;
  top: 70%;
  right: 45%;
  font-size: large;
}/*# sourceMappingURL=style.css.map */