@charset "UTF-8";
.texto, .Reseñas section h2, .Reseñas section div h3, .Contactame div h2, .Contactame div p, body .index .Fila .Presentacion, body .index .Fila .Botones div, body .index .Fila .Hero, body .index .Fila .CTA, body .Imagenes h2, .proyectos .Fila .columna p, .proyectos .Fila .columna div a, .aboutme section div p, .Educacion .Fila .columna p {
  color: white;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 10px black;
}

.colorfondo, body .index .Fila .Presentacion, body {
  background-color: rgb(130, 59, 174);
}

.colorheader, body .index .Fila .Hero, body .index .Fila .CTA, footer, body header div, body header nav {
  background-color: rgb(96, 24, 162);
}

@keyframes AnimacionEntrada {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes navegador {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
@keyframes imagenrotativa {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  5% {
    opacity: 1;
    transform: scale(1);
    z-index: 1000;
  }
  33% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0;
    z-index: 0;
    transform: scale(0);
  }
  100% {
    opacity: 0;
  }
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body header {
  width: 100%;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: 100%;
}
body header div {
  width: 100%;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
}
body header div h1 {
  font-size: 40px;
  margin: 0 0 10 0;
}
body header div p {
  margin: 0 0 10 0;
  font-size: 20px;
}
body header nav {
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-color: black;
  width: 100%;
  height: 100%;
}
body header nav ul {
  margin-left: 2%;
  padding: 0;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  body header nav ul {
    margin: 0;
  }
}
@media (max-width: 768px) {
  body header nav ul {
    flex-direction: column;
  }
}
body header nav ul li {
  list-style: none;
  padding: 10px;
  margin-left: 1%;
}
body header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}
@media (max-width: 768px) {
  body header nav ul li {
    margin: 0;
    padding: 10 5 10 5;
  }
}
body header nav ul li .Pagina-Activa {
  color: white;
}
body header .navHamburgesa {
  height: auto;
}
@media (min-width: 760px) {
  body header .navHamburgesa {
    display: none;
  }
}
body header .navHamburgesa input {
  position: absolute;
  top: -1000;
  opacity: 0;
}
body header .navHamburgesa label img {
  width: 100px;
  max-width: 20%;
}
body header .navHamburgesa label ul {
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: black;
  height: 0;
  display: none;
}
body header .navHamburgesa input:checked + label ul {
  max-height: -moz-fit-content;
  max-height: fit-content;
  animation: navegador 2s forwards;
  display: flex;
}
body header .navHamburgesa input:checked + label ul li {
  max-height: -moz-fit-content;
  max-height: fit-content;
  animation: navegador 2s;
}
@media (max-width: 760px) {
  body header .navNormal {
    display: none;
  }
}
body header .navHamburgesa:has(input:checked) {
  animation: navegador 0.5s forwards;
}

.aboutme {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.aboutme section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  .aboutme section {
    grid-template-columns: 1fr;
  }
}
.aboutme section div {
  padding-top: 30px;
}
@media (max-width: 768px) {
  .aboutme section div {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
}
.aboutme section div img {
  border-radius: 10px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .aboutme section div img {
    width: 100%;
  }
}
.aboutme section div p {
  font-size: 20px;
  text-align: left;
  margin: 0;
  animation: AnimacionEntrada 1.2s ease-out 0s none;
}
@media (max-width: 768px) {
  .aboutme section div p {
    padding: 5%;
    width: 80%;
    text-align: center;
  }
}
.aboutme section .parrafosabout {
  display: grid;
}
.aboutme section .fotomia {
  align-items: center;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  animation: AnimacionEntrada 1.2s ease-out 0s none;
}

.Educacion {
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 100%;
  animation: AnimacionEntrada 0.8s ease-out 0s none;
  padding-bottom: 5%;
}
.Educacion .educaciontxt {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  padding-bottom: 5%;
}
.Educacion .Fila {
  display: grid;
  grid-template-columns: 2fr 2fr;
  -moz-column-gap: 10%;
       column-gap: 10%;
}
.Educacion .Fila .columna {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Educacion .Fila .columna img {
  max-width: 50%;
  min-width: 50%;
  padding: 5%;
}
@media (max-width: 768px) {
  .Educacion .Fila .columna img {
    max-width: 80%;
    min-width: 80%;
  }
}
.Educacion .Fila .columna p {
  font-size: 16px;
}

footer {
  display: flex;
  position: relative;
  width: 100%;
}
footer div {
  display: flex;
  margin-left: 5%;
}
footer div p {
  color: white;
}

.proyectos {
  margin-top: 10%;
  padding-bottom: 30%;
  margin-bottom: 30%;
  height: auto;
}
@media (max-width: 1023px) {
  .proyectos {
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 50%;
  }
}
.proyectos .Fila {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1024px) {
  .proyectos .Fila {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
.proyectos .Fila #Proyecto1 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 0s forwards;
}
.proyectos .Fila #Proyecto2 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 0.8s forwards;
}
.proyectos .Fila #Proyecto3 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 1.4s forwards;
}
.proyectos .Fila #Proyecto4 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 2s forwards;
}
.proyectos .Fila #Proyecto5 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 2.6s forwards;
}
.proyectos .Fila #Proyecto6 {
  opacity: 0;
  animation: AnimacionEntrada 0.6s linear 3.2s forwards;
}
.proyectos .Fila .columna {
  justify-items: center;
  align-items: center;
}
@media (min-width: 768px) {
  .proyectos .Fila .columna p {
    font-size: 24px;
  }
}
.proyectos .Fila .columna div {
  position: relative;
  border: solid, black, 5px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 30% 10%;
  row-gap: 2rem;
}
@media (min-width: 560px) {
  .proyectos .Fila .columna div {
    min-height: 70%;
    max-height: 70%;
  }
}
.proyectos .Fila .columna div img {
  width: 100%;
  display: block;
}
.proyectos .Fila .columna div p {
  display: block;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.775);
  z-index: 1000;
  position: absolute;
  font-size: x-small;
  width: 100%;
  bottom: 10%;
  height: 30%;
  text-align: center;
  font-size: 80%;
}
.proyectos .Fila .columna div a {
  text-decoration: none;
  position: absolute;
  bottom: 0%;
  height: 10%;
  width: 100%;
  font-size: 100%;
  background-color: rgba(0, 0, 0, 0.775);
}

body .index .Fila {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [Uno] 25% [Dos] 25% [Tres] 25% [Cuatro] 25% [Cinco];
}
body .index .Fila .Presentacion {
  opacity: 0;
  grid-column: Dos/Cuatro;
  text-align: center;
  margin: 5%;
  font-size: larger;
  animation: AnimacionEntrada 0.6s ease-out 0s forwards;
}
@media (max-width: 768px) {
  body .index .Fila .Presentacion {
    grid-column: Uno/Cinco;
  }
}
body .index .Fila .Botones {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  grid-column: Uno/Cuatro;
  margin: 5%;
  animation: AnimacionEntrada 0.6s ease-out 0.6s forwards;
}
@media (max-width: 768px) {
  body .index .Fila .Botones {
    grid-column: Uno/Tres;
  }
}
@media (max-width: 560px) {
  body .index .Fila .Botones {
    flex-direction: column;
    grid-column: Dos/Cuatro;
  }
}
body .index .Fila .Botones div {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  margin: 5% 20%;
}
body .index .Fila .Botones a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
body .index .Fila .Hero {
  opacity: 0;
  grid-column: Uno/Cinco;
  text-align: center;
  font-size: large;
  animation: AnimacionEntrada 0.6s ease-out 1.2s forwards;
  margin-bottom: 5%;
  padding: 5%;
}
body .index .Fila .CTA {
  opacity: 0;
  grid-column: Uno/Cinco;
  text-align: center;
  animation: AnimacionEntrada 0.6s ease-out 1.8s forwards;
  padding: 5%;
}
body .Imagenes {
  width: 100%;
  max-width: 100%;
  height: 60%;
  display: grid;
  grid-template-rows: [uno] 1fr [dos] 1fr;
  margin-bottom: 5%;
  margin-top: 10%;
}
@media (max-width: 768px) {
  body .Imagenes {
    height: 40%;
  }
}
body .Imagenes h2 {
  grid-row: uno/uno;
}
body .Imagenes .Imagenesrotativas {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: dos/dos;
}
body .Imagenes .Imagenesrotativas .Imagenrotativa {
  position: absolute;
  opacity: 0;
  animation: imagenrotativa 15s infinite;
}
body .Imagenes .Imagenesrotativas .Imagenrotativa img {
  max-width: 500px;
  width: 100%;
}
@media (max-width: 768px) {
  body .Imagenes .Imagenesrotativas .Imagenrotativa img {
    max-width: 350px;
  }
}
@media (max-width: 560px) {
  body .Imagenes .Imagenesrotativas .Imagenrotativa img {
    max-width: 200px;
  }
}
body .Imagenes .Imagenesrotativas .Imagenrotativa:nth-child(1) {
  animation-delay: 0s;
}
body .Imagenes .Imagenesrotativas .Imagenrotativa:nth-child(2) {
  animation-delay: 5s;
}
body .Imagenes .Imagenesrotativas .Imagenrotativa:nth-child(3) {
  animation-delay: 10s;
}

.Contactame {
  animation: AnimacionEntrada 0.6s linear 0s forwards;
}
.Contactame .Fila {
  display: grid;
  grid-template-rows: [uno] 1fr [dos] 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 5%;
}
.Contactame .Fila .github {
  grid-column: 1;
  animation: AnimacionEntrada 0.6s linear 0s forwards;
}
.Contactame .Fila .github a img {
  border-radius: 300px;
  width: 250px;
}
.Contactame .Fila .Linkedin {
  animation: AnimacionEntrada 0.6s linear 0s forwards;
  grid-column: 2;
}
.Contactame .Fila .Linkedin a img {
  border-radius: 300px;
  width: 250px;
}
.Contactame .Fila .Whatsapp {
  animation: AnimacionEntrada 0.6s linear 0s forwards;
  grid-row: dos/dos;
  grid-column: 1;
}
.Contactame .Fila .Whatsapp img {
  border-radius: 300px;
  width: 250px;
}
.Contactame .Fila .Gmail {
  grid-row: dos/dos;
  animation: AnimacionEntrada 0.6s linear 0s forwards;
}
.Contactame .Fila .Gmail img {
  border-radius: 300px;
  width: 250px;
}
@media (max-width: 768px) {
  .Contactame .Fila {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0;
  }
  .Contactame .Fila .github {
    animation: AnimacionEntrada 0.6s linear 0s forwards;
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 5%;
  }
  .Contactame .Fila .Linkedin {
    animation: AnimacionEntrada 0.6s linear 0s forwards;
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 5%;
  }
  .Contactame .Fila .Whatsapp {
    animation: AnimacionEntrada 0.6s linear 0s forwards;
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 5%;
  }
  .Contactame .Fila .Gmail {
    animation: AnimacionEntrada 0.6s linear 0s forwards;
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 5%;
  }
}

.Reseñas section {
  animation: AnimacionEntrada 0.6s linear 0s forwards;
}
.Reseñas section div {
  margin: 5%;
  display: grid;
  justify-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgb(107, 0, 139), darkslateblue);
  border-radius: 300px;
  padding: 5% 10%;
}
@media (max-width: 560px) {
  .Reseñas section div {
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .Reseñas section div {
    padding: 10% 20%;
  }
}
.Reseñas section div p {
  text-align: start;
}
.Reseñas section div img {
  max-width: 250px;
  border-radius: 300px;
  max-height: 200px;
}/*# sourceMappingURL=style.css.map */