@use "../componentes/variables";
.aboutme{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    section{
        display: grid;
        grid-template-columns: 1fr 2fr ;
        margin-bottom: 5%;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            }
        div{
            
            padding-top: 30px;
            @media (max-width: 768px) {
                display: flex;
                justify-content: center;
                justify-items: center;
            }
            img{
                border-radius: 10px;
                max-width: 100%;
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
            p{
                font-size: 20px;
                @extend .texto;
                text-align: left;
                margin: 0;
                animation: AnimacionEntrada 1.2s ease-out 0s none;
                @media (max-width: 768px){
                    padding: 5%;
                    width: 80%;
                    text-align: center;
                }
            }
        }
        .parrafosabout{
            display: grid;
        }
        .fotomia{
                align-items: center;
                padding-left: 30px;
                padding-bottom: 30px;
                padding-right: 20px;
                animation: AnimacionEntrada 1.2s ease-out 0s none;
            }
        
    }
}
.Educacion{
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
    animation: AnimacionEntrada 0.8s ease-out 0s none;
    padding-bottom: 5%;
    .educaciontxt{
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        padding-bottom: 5%;
    }
    .Fila{
        display: grid;
        grid-template-columns: 2fr  2fr;
        column-gap: 10%;
        .columna{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 50%;
                min-width: 50%;
                padding: 5%;
                @media(max-width: 768px){
                    max-width: 80%;
                    min-width: 80%;
                }
            }
            p{
                font-size: 16px;
                @extend .texto;
                
            }
        }
    }
}