@use "../componentes/variables";
@use "../componentes/mixins";
.aboutme{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    h2{
        //animation: AnimacionEntrada 0.6s linear 0s forwards;
        @extend .texto;
        font-size: 32px
    }
    section{
        @include mixins.grids(grid,(1fr),(1fr 2fr));
        margin-bottom: 5%;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            }
        div{
            
            padding-top: 30px;
            @media (max-width: 768px) {
                display: flex;
                justify-content: center;
                justify-items: center;
            }
            img{
                border-radius: 10px;
                max-width: 100%;
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
            p{
                font-size: 20px;
                @extend .texto;
                text-align: left;
                margin: 0;
                //animation: AnimacionEntrada 1.2s ease-out 0s none;
                @media (max-width: 768px){
                    padding: 5%;
                    width: 80%;
                    text-align: center;
                }
            }
        }
        .parrafosabout{
            display: grid;
        }
        .fotomia{
                align-items: center;
                padding-left: 30px;
                padding-bottom: 30px;
                padding-right: 20px;
                animation: AnimacionEntrada 1.2s ease-out 0s none;
            }
        
    }
}
.Educacion{
    animation: AnimacionEntrada 0.8s ease-out 0s none;
    padding: 10%;
    @include mixins.grids(grid,(15% 85%),100%);
    .educaciontxt{
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        padding-bottom: 5%;
    }
    .Fila{
        @include mixins.grids(grid,auto,(2fr 2fr));
        column-gap: 10%;
        .columna{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 50%;
                min-width: 50%;
                padding: 5%;
                @media(max-width: 768px){
                    max-width: 80%;
                    min-width: 80%;
                }
            }
            p{
                font-size: 16px;
                @extend .texto;
                
            }
        }
    }
}