@use "../componentes/variables";

body{
    main{
        section{
            h2{
                @extend .texto;
            }
            div{
                margin: 5%;
                display: grid;
                justify-items: center;
                background: linear-gradient(180deg, rgb(107, 0, 139)  , darkslateblue);
                border-radius: 300px;
                padding: 5%;
                @media(max-width:768px){
                    padding: 20%;
                }
                h3{
                    @extend .texto;
                    
                }
                p{
                    text-align: start;
                }img{
                    max-width: 250px;
                    border-radius: 300px;
                    max-height: 200px;
                }
            }
        }
    }
}