@use "./variables";
footer{
    display: flex;
    @extend .colorheader;
    position: relative;
    width: 100%;
    div{
        display: flex;
        margin-left: 5%;
        p{
            color: white;
        }
    }
    
}
