@use "./variables";
@use "./mixins";


//Header
body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    @extend .colorfondo;
    header{
        width: 100%;
        //@extend .colorheader;
        box-sizing: border-box;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        //display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        //grid-template-columns: 100%;
        @include mixins.grids(grid,auto,100%);
        div{
            @extend .colorheader;
            width: 100%;
            text-align: center;
            color: whitesmoke;
            letter-spacing: 1px;
            h1{
                font-size: 40px;
                margin: 0 0 10 0;
            }
            p{
                margin: 0 0 10 0;
                font-size: 20px;
            }
        }
        nav{
            @extend .colorheader;
            border-style: solid;
            border-left: 0px;
            border-right: 0px;
            border-color: black;
            width: 100%;
            height: 100%;
            ul{
                
                margin-left: 2%;
                padding: 0;
                justify-content: flex-start;
                display: flex;
                flex-direction: row;
                @media (max-width: 768px){
                    margin:0;
                }
                @media (max-width:768px){
                    flex-direction: column;
                }
                li{
                    list-style: none;
                    padding: 10px;
                    margin-left: 1%;
                    a{
                        text-decoration:none;
                        color: black;
                        font-size: large;
                    }
                    @media (max-width: 768px){
                        margin:0;
                        padding: 10 5 10 5;
                    }
                    .Pagina-Activa{
                        color: white;
                    }
                    
                }
            }
        }
        .navHamburgesa{
            height: auto;
            @media(min-width:760px){
                display: none;
            }
            input{
                position: absolute;
                top: -1000;
                opacity: 0;
            }
            label{
                img{
                    width: 100px;
                    max-width: 20%;
                }
                ul{
                    border-style: solid;
                    border-left: 0px;
                    border-right: 0px;
                    border-bottom: 0px;
                    border-color: black;
                    height: 0;
                    display: none;
                }
            }
            
            input:checked + label{
                
                ul{
                    max-height: fit-content;
                    animation: navegador 2s forwards;
                    display: flex ;
                    
                    li{
                        max-height: fit-content;
                        animation: navegador 2s ;
                    }
                }
                
            }
            
        }
        .navNormal{
            @media(max-width:760px){
                display: none;
            }
        }
        .navHamburgesa:has(input:checked){
                animation: navegador 0.5s forwards;
            }
    }
}
