// Variables
$color-primario:rgb(96, 24, 162);
$color-secundario: rgb(86,20,126);
$color-terciario: rgb(122, 33, 205, 0.800);
.texto{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes AnimacionEntrada {
            from {
                opacity: 0;
                transform: scale(0.8);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }