// Variables
.texto{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 10px black;
}

.colorfondo{
    //background: radial-gradient(closest-side , darkblue  , darkslateblue );
    background-color:rgb(130, 59, 174);
}
.colorheader{
    //background: linear-gradient(180deg, darkblue  , darkslateblue);
    background-color:rgb(96, 24, 162) ;
}

@keyframes AnimacionEntrada {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes navegador {
    0%{
        height: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
        height: 100%;
    }

}
@keyframes imagenrotativa {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    5% {
        opacity: 1;
        transform: scale(1);
        z-index: 1000;
    }
    33%{
        opacity: 1;
        transform: scale(1);
    }
    40% {
        opacity: 0;
        z-index: 0;
        transform: scale(0);
    }
    100% {
        opacity: 0;
    }
}